<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">500错误</div>
    <a class="w-inline-block navbar-button" href="<%= url_for(web_home_path) %>" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-left"></div>
    </a>
  </div>
</div>
<div class="body padding">
  <div class="error">
    <h1>Error~500!</h1>
    <p>对您造成的困扰，敬请谅解~🙏🙏🙏</p>
    <p>该问题已经被记录，我们会尽快解决</p>
    <p>如有更多疑问，请联系info@luggagep.com</p>
  </div>
</div>