/* Framework */

.pt10 {
  padding-top: 10px;
}

.text-grey {
  color: #999;
}

.text-right {
  text-align: right;
}

.w-form-fail {
  padding: 6px 8px;
  h3 {
    margin: 0 0 0 10px;
    color: #f00;
    font-size: 14px;
  }
  ul {
    padding-left: 30px;
    li {
      color: #666;
      font-size: 12px;
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Styles */

.country-item {
  clear: both;
  padding-top: 15px;
  border-bottom: 1px #eee dotted;
  width: 100%;
  height: 50px;
  .flag-image {
    float: left;
    img {
      width: 30px;
      height: 20px;
    }
  }
  .name {
    float: left;
    h3 {
      margin: 0 0 0 14px;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .checkmark {
    float: right;
    width: 18px;
    span {
      color: #39b54a;
      font-size: 20px;
    }
  }
  &.last {
    border: none;
  }
}

.empty-deal {
  padding-top: 160px;
  p {
    text-align: center;
    line-height: 18px;
  }
}

.travel-description {
  padding-top: 20px;
  padding-bottom: 16px;
  width: 340px;
  .portrait {
    float: left;
    margin: 10px 10px 0 0;
    border-radius: 25px;
    width: 50px;
    height: 50px;
  }
  .description {
    float: right;
    width: 220px;
    p {
      padding: 0;
      span.strong {
        font-weight: bold;
        color: #9e0b0f;
      }
    }
  }
}

.travel-deals-list {
  .blank-notice {
    padding: 20px 0;
    text-align: center;
  }
}

.list-events {
  margin-bottom: 20px;
}

.list-news {
  .list-item-new {
    .link-blog-list {
      .image-new {
        .profile {
          float: left;
          margin: 0 4px 4px 0;
          img {
            width: 50px;
            height: 50px;
          }
          .deals {
            text-align: center;
            font-size: 11px;
            color: #888;
          }
        }
      }
    }
  }
}

.list {
  .list-item {
    .portrait {
      float: right;
      margin: 15px 10px 0 0;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }
}

.value-form {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  border-radius: 0;
  background-color: transparent;
  color: #222;
  font-size: 12px
}

.changelog {
  ul {
    li {
      font-size: 12px;
      color: #666;
    }
  }
}

.follow {
  padding-top: 80px;
  .description {
    text-align: center;
  }
}

.error {
  padding-top: 120px;
  h1 {
    margin-bottom: 40px;
  }
  h1, p {
    text-align: center;
  }
}

.share-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  img {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 100%;
    z-index: 9999;
  }
}

.w-form {
  .image-preview {
    padding-top: 10px;
    .image-thumbnail {
      position: relative;
      float: left;
      margin: 0 4px 4px 0;
      height: 80px;
      width: 80px;
      overflow: hidden;
      img {
        position: absolute;
        width: auto;
        height: 80px;
      }
    }
  }
  .select-image {
    margin-bottom: 10px;
    line-height: 37px;
    color: #3898ec;
  }
}