<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <%= navbar_default_tag %>
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">首页</div>
    <div class="w-nav-button navbar-button left" id="menu-button" data-ix="hide-navbar-icons">
      <div class="navbar-button-icon home-icon">
        <div class="bar-home-icon top"></div>
        <div class="bar-home-icon middle"></div>
        <div class="bar-home-icon bottom"></div>
      </div>
    </div>
  </div>
</div>
<div class="body">
  <div class="home-content">
    <div class="w-slider home-slider" data-animation="slide" data-duration="500" data-infinite="1" data-nav-spacing="5" data-delay="4000" data-autoplay="1">
      <div class="w-slider-mask">
        <div class="w-slide slide"><img src="/tmp/carousel_1.jpg" alt="carousel-1" /></div>
        <div class="w-slide slide"><img src="/tmp/carousel_2.jpg" alt="carousel-2" /></div>
        <div class="w-slide slide"><img src="/tmp/carousel_3.jpg" alt="carousel-3" /></div>
      </div>
      <div class="w-slider-arrow-left arrow-icon">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right arrow-icon">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-round slider-bullets"></div>
    </div>
    <div class="text-new grey">
      <div class="separator-fields"></div>
      <h1 class="title-h1">欢迎使用小信鸽</h1>
      <div class="separator-fields"></div>
      <p class="description-new larger">当您在假期出国旅游，帮朋友代购各种境外商品的时候，是否遇到过缺货却无法沟通的情况？又是否感觉行前统计需求太麻烦？或是总怕忘记购买某个东东？小信鸽是一款帮助您解决友人之间代购难题的小工具，通过她可以免去统计需求的烦恼，又能像ToDo List一样很方便地查看购物清单，要试试看吗？</p>
      <div class="separator-button"></div>
      <%= link_to '现在就发布行程', set_destinations_new_web_travel_path, class: 'w-button action-button' %>
      <div class="separator-fields"></div>
      <div class="separator-fields"></div>
    </div>
    <div class="text-new no-borders">
      <h2 class="title-new">版本更新 v0.1.2</h2>
      <div class="changelog">
        <ul>
          <li>优化拖拽效果</li>
          <li>我的行程增加分页功能</li>
          <li>增加汇率计算功能</li>
        </ul>
      </div>
      <p class="description-new"></p>
    </div>
    <div class="separator-fields"></div>
    <div class="text-new grey n-b-b">
      <h2 class="title-new">关于我们</h2>
      <div class="separator-fields"></div>
      <p class="description-new">
        <p>若非是你 是无可代替</p> 
        <p>我怎会拥有 如此的 勇气</p> 
        <p class="text-right">—— 彭青 「无可代替」</p> 
      </p>
    </div>
  </div>
</div>