<div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
  <div class="w-container">
    <div class="wrapper-mask" data-ix="menu-mask"></div>
    <div class="navbar-title">我的需求</div>
    <a class="w-inline-block navbar-button" href="<%= url_for(web_home_path) %>" data-load="1">
      <div class="navbar-button-icon icon ion-ios-arrow-left"></div>
    </a>
  </div>
</div>
<div class="body">
  <div class="w-clearfix travel-deals-list padding">
    <% if @deals.blank? %>
    <div class="blank-notice"><p>清单是空的哦！</p></div>
    <% else %>
    <ul class="list list-events">
      <% @deals.each do |deal| %>
      <li class="list-calendar-events" data-ix="list-item">
        <a class="w-clearfix w-inline-block" href="<%= url_for(web_deal_path(deal, from: 'owned_deals'))%>" data-load="1">
          <div class="calendar-col-left">
            <div class="event-title"><%= deal.content %></div>
            <div class="w-clearfix text-event-wrap">
              <% if deal.in_process? %>
              <div class="left-text-icon icon ion-clock"></div>
              <div class="event-text">购物中</div>
              <% elsif deal.success? %>
              <div class="left-text-icon icon ion-checkmark-round text-success"></div>
              <div class="event-text text-success">已购买</div>
              <% elsif deal.failure? %>
              <div class="left-text-icon icon ion-close-round text-failure"></div>
              <div class="event-text text-failure">未购买</div>
              <% end %>
            </div>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>