<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>小信鸽</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag 'web', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <section class="w-section mobile-wrapper">
      <div class="page-content" id="main-stack">
        <%= yield %>
      </div>
      <div class="page-content loading-mask" id="new-stack">
        <div class="loading-icon">
          <div class="navbar-button-icon icon ion-load-d"></div>
        </div>
      </div>
    </section>
    <%= javascript_include_tag 'web', 'data-turbolinks-track' => true %>
    <%= content_for :javascript %>
  </body>
</html>